html, body { height: 100%; width: 100%; margin: 0px; padding: 0px; background-color: #fff; }
#map { height: 100%; width: 90%; position: absolute; top: 0; left: 10%; }
#routes { height: 100%; width: 10%; position: absolute; top: 0; left: 0; margin: 0px; padding: 0px; background-color: #eef;  overflow-y: auto; font-size: 80%; }
#routes li { padding: 5px 10px;  }
.route { border-bottom: 1px solid #ddf; cursor: pointer; }
.route:hover { background-color: #eee; }
.route .legend { display: inline-block; width: 1em; height: 1em; margin-right: 10px; text-align: middle;  }

